<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Proyecto Jardín</title>
        <meta name="description" content="Proyecto Python - BootStarp - PostgreSQL"/>
        <meta name="author" content="Sergio Capacho" />
        <meta name="keywords" content="Html, bootstrap, Python, PostGreSQL" />
        <link rel="shotcut icon" type="image/x-icon" HREF="../static/imagenes/flor01.ico" />
        <link rel="stylesheet" type="text/css" href="../static/css/mis_estilos.css"/>
        <!-- Enlace al CSS BootStrapSwatch / Flatly Flat and modern -->
        <link rel="stylesheet"  href="../static/css/bootstrap.min.css"  crossorigin="anonymous"/>
    </head>
    <body onload="startTime()">
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="/"> Inicio </a>
                <a class="nav-item nav-link" href="#">Productos</a>
                <a class="nav-item nav-link" href="#">Cursos</a>
                <a class="nav-item nav-link" href="#">Galeria</a>
                <a class="nav-item nav-link" href="#">Login</a>
            </div>
        </nav>
        <!--Inicio del Container Principal  -->
        <div class="container text-center"> 
            <br/>
            <img src="../static/img/gato01.gif"  alt="Gato animado">
            <br/><br/>
            <img src="../static/img/logo_jardin.gif" width="300" height="100" alt="Logo del Jardín">
            <br/><br/>
            Somos.... la mejor empresa de jardinería de todo el Norte de Santander.
            <br/>
            Te ofrecemos productos de gran calidad, para todos los gustos, tamaños y bolsillos.
            <br/>
            Visitanos en nuestra sede de Villa del Rosario - Norte de Santander,
            <br/>
            justo la lado de una Universidad de pamplona.
            <br/><br/> 
            Cuando nos visites .... siéntase libre de verlo todo. 
            <br/>
            Si necesita ayuda, no dude en preguntar.
            <br/>
            Le atenderemos con el mayor placer. 
            <br/>
            <b>Además, Si nos visitas el día de tú cumpleaños tenemos un obsequio especial para tí </b>
            <br/><br/>
            <img src="../static/img/pie.gif" width="600" height="17" alt="Regla horizontal">
            <br/><br/>
        </div> 
        <!--Fin del Container Principal -->
        <footer class="container text-center p-3" >
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="../static/img/Logo_01.png" alt="Logo Systemcap.Net 1" width="63px" height="50px" />
                </div> 
                <div class="col-md-4 text-center">
                    <h5> 
                        Copyright © 2025 Systemcap.Net
                        <br/>
                        Todos los derechos reservados
                    </h5>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../static/img/Logo_02.png" alt="Logo Systemcap.Net 2" width="63px" height="50px"/>
                </div>
            </div>
        </footer>
        <!-- Invocando el link del código JS para crear el reloj -->
        <script src="../static/js/mi_java_script.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    </body>
    <!-- Fin del Body -->
</html> 