<!DOCTYPE html>
<html lang="es">
    {% include 'm01_sitio/zcabeza.html' %}
    <body onload="startTime()">
        {% include 'm01_sitio/zencabezado.html' %}
        <div class="container text-center"> 
            <br/>
            <img src="../static/img/gato01.gif"  alt="Gato animado">
            <br/><br/>
            <img src="../static/img/logo_jardin.gif" width="300" height="100" alt="Logo del Jardín">
            <br/><br/>
            Somos.... la mejor empresa de jardinería de todo el Norte de Santander.
            <br/>
            Te ofrecemos productos de gran calidad, para todos los gustos, tamaños y bolsillos.
            <br/>
            Visitanos en nuestra sede de Villa del Rosario - Norte de Santander,
            <br/>
            justo la lado de una Universidad de pamplona.
            <br/><br/> 
            Cuando nos visites .... siéntase libre de verlo todo. 
            <br/>
            Si necesita ayuda, no dude en preguntar.
            <br/>
            Le atenderemos con el mayor placer. 
            <br/>
            <b>Además, Si nos visitas el día de tú cumpleaños tenemos un obsequio especial para tí </b>
        </div>
        <br>
        {% include 'm01_sitio/zpie.html' %}
    </body>
</html> 