<!DOCTYPE html>
<html lang="es">
    {% include 'm01_sitio/zcabeza.html' %}
    <body onload="startTime()">
        {% include 'm01_sitio/zencabezado.html' %}
        <main class="container text-center">
            <br><br>
            <img src="../static/img/mirada01.gif" width="180" height="100" alt="Miranda Picara">
            <br><br>
            <img src="../static/img/encabezado_productos.gif" alt="Logo del Jardin">
            <br><br>
            <div class="row">
                <div class="col-md-2 text-center"></div>
                <div class="col-md-4 text-center">
                    <p class="card-text text-justify">
                        El jardín te ofrece una gran variedad de plantas ornamentales, adaptadas a diversos climas y ambientes.
                        <br><br>
                        Tambien tenemos información acerca del cuidado general y estacional de las mismas.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <b>Productos</b>
                    <p class="text-start">
                        <ul class="text-start">
                            <li>Plantas para el hogar</li>
                            <li>Plantas para jardín</li>
                            <li>Plantas para aficionados</li>
                            <li>Regalos y útiles</li>
                            <li>Abono natural</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 text-center"></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center"></div>
                <div class="col-md-4 text-center">
                    <img src="../static/img/flor02.gif" class="rounded" width="60%"
                    height="80%" alt="Flor DOS">
                </div>
                <div class="col-md-4 text-center">
                    <img src="../static/img/flor07.gif" class="rounded" width="60%"
                    height="80%" alt="Flor Siete">
                </div>
                <div class="col-md-2 text-center"></div>
            </div>
        </main>
        {% include 'm01_sitio/zpie.html' %}
    </body>
</html>