<!DOCTYPE html>
<html lang="es">
    {% include 'm01_sitio/zcabeza.html' %}
    <body onload="startTime()">
        {% include 'm01_sitio/zencabezado.html' %}
        <main class="container center">
            <br><br>
            <img src="../static/img/encabezado_cursos.gif" alt="Logo del Jardín">
            <br><br>
            <b>
                <em>
                    <font color="#ffffff" size="5">
                        <marquee behavior="alternate" bgcolor="#008000">
                            <b>&#161; Nunca es demasiado tarde
                                para conseguir un hermoso jardín!
                            </b>
                        </marquee>
                    </font>
                </em>
            </b>
            <div class="row">
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-4 text-center">
                    <font face="Comic Sans MS" size="6" color="#AA000A">
                        <p align="center" id="titulo-relog">
                            <b>¡¡¡Corre el tiempo!!!</b>
                        </p>
                    </font>
                    <br>
                    <div id="clockdate">
                        <div class="clockdate-wrapper">
                            <div id="clock"></div>
                            <div id="date"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <font face="Comic Sans MS" size="6" color="#AA000A">
                        <b>Marta te espera para procesar tú inscripción</b>
                    </font>
                    <br><br>
                    <img src="../static/img/secretaria01.jpg" width="130px" height="300px" alt="Secretaria" class="rounded"> 
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-4 text-center p-4">
                    <b>Nuestros cursos son toda una experiencia creativa.</b>
                    Cada estudiante diseña su jardín ideal, y nuestros jardineros
                    lo acompañan en cada paso en su construcción.
                    <br/> 
                    <br/>
                    Nuestro objetivo es que cada uno de nuestros estudiantes 
                    logre planificar, diseñar y construir su propio jardín lleno de vida y color. 
                    <br/>
                    <br/> 
                    El curso tendrá lugar en un ambiente ideal, rodeado de aíre 
                    puro y naturaleza en la finca del <b>Jardín, en Mutiscua.</b>
                    <br/> 
                    <br/>
                    Además, para garantizar el éxito del curso la cantidad 
                    máxima de estudiantes que recibimos son de 12 personas.
                    <br/> 
                </div>
                <div class="col-md-4 text-center p-4">
                    <font face="Comic San MS" size="6" color="#AA000A">
                        <b>&#191; Qué aprendera?</b>
                    </font>
                    <br>
                    <ol align="left">
                        <li>
                            &#191; Cuáles son las mejores plantas para la  
                            región donde UD vive?. 
                        </li>
                        <li>
                            &#191; Cuándo plantar para tener un 
                            espl&eacute;ndido jardín?. 
                        </li>
                        <li>&#191; Cómo proteger el jardín de los calores extremos?.</li>
                        <li>&#191; Cómo proteger el jardín de los bichos?.</li>
                    </ol>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-4 text-center">
                    <img src="../static/img/flor14.gif" alt="Flor catorce" class="rounded">
                </div>
                <div class="col-md-4 text-center">
                    <br><br>
                    <img src="../static/img/flor15.gif" width="200px" height="200px"
                    alt="Flor quince" class="rounded">
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>
        </main>
        <br>
        {% include 'm01_sitio/zpie.html' %}
        <br>
    </body>
</html>