<!DOCTYPE html>
<html lang="es">
    {% include 'm01_sitio/zcabeza.html' %}
    <body onload="startTime()">
        {% include 'm01_sitio/zencabezado.html' %}
        <main class="container text-center">
            <br/>
            <br/>
            <b>
                <em>
                    <font color="#FFFFFF" SIZE="8">
                        <marquee behavior="alternate" bgcolor="#008000">
                            <B> &#161; Un pequeño paseo por nuestro trabajo!</B>
                        </marquee>
                    </font>
                </em>
            </b>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin01.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 01"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin02.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 02"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin03.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 03"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin04.jpg" 
                    class="rounded" width="80%" height="80%" alt="Jardin 04"/>
                </div>
            </div> 
            <div class="row"> 
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin05.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 05"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin06.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 06"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin07.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 07"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin08.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 08"/>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin09.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 09"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin10.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 10"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin11.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 11"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin12.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 12"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin13.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 13"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin14.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 14"/>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin15.jpg" 
                    class="rounded" width="80%" height="80%" alt="Jardin 15"/>
                </div> 
                <div class="col-md-3 text-center">
                    <img src="../static/img/jardines/jardin16.jpg"
                    class="rounded" width="80%" height="80%" alt="Jardin 16"/>
                </div>
            </div>
            <hr/> 
            <div class="row">
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/clase01.mp4") }}
                    class="redondeo" width="300" height="250" controls/> 
                </div>
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/clase02.mp4") }}
                    class="redondeo" width="300" height="250" controls/>
                </div> 
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/clase03.mp4") }}
                    class="redondeo" width="300" height="250" controls/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/thalia01.mp4") }}
                    class="redondeo" width="300" height="250" controls/>
                </div>
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/jlo01.mp4") }}
                    class="redondeo" width="300" height="250" controls/>
                </div>
                <div class="col-md-4 text-center">
                    <video src={{ url_for("static", filename="videos/Shakira01.mp4") }}
                    class="redondeo" width="300" height="250" controls/> 
                </div>
            </div>
        </main>
        <BR/>
        {% include 'm01_sitio/zpie.html' %}
        <BR/>
    </body>
</html>