<script src="../static/js/mi_java_script.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<center>
    <img src={{ url_for("static", filename="img/pie.gif")}} width="600" height="17" alt="Regla horizontal">
</center>
<br>
<footer class="container text-center p-3" >
    <div class="row">
        <div class="col-md-4 text-center">
            <img src={{ url_for("static", filename="img/logo_01.png")}} alt="Logo Systemcap.Net 1" width="63px" height="50px" />
        </div> 
        <div class="col-md-4 text-center">
            <h5> 
                Copyright © 2025 Systemcap.Net
                <br/>
                Todos los derechos reservados
            </h5>
        </div>
        <div class="col-md-4 text-center">
            <img src="../static/img/Logo_02.png" alt="Logo Systemcap.Net 2" width="63px" height="50px"/>
        </div>
    </div>
</footer>